{% extends 'base.html.twig' %}
{% block body %}

    <div class="container mt-4">
        <h2>Creer un nouveau bien</h2>
        {{ include ('admin/property/_form.html.twig', {form: form, button: 'Creer'}) }}



    </div>
{% endblock %}